<html>
<head>
    <title>Passwort zurücksetzen</title>
</head>
<body>
    <p style="font-size: 12px;">Hallo!</p>

    <p style="font-size: 12px;">Bitte klicke auf den folgenden Link, um ein neues Passwort zu erstellen:</p>

    <p style="font-size: 12px;"><a title="Passwort zurücksetzten" href="<%= backlinkUrl %>"><%= backlinkUrl %></a></p>


    <p style="font-size: 12px;">Viel Spaß!</p>


    <p style="font-size: 11px;">P.S.: Diese E-Mail wurde automatisch generiert, deshalb werden Rückfragen nicht beantwortet.</p>
</body>
</html>