<html>
<head>
    <title>Bitte bestätigen Sie Ihre E-Mail-Adresse</title>
</head>
<body>
    <p style="font-size: 12px;">Hallo <%= userData.displayName%>,</p>

    <p style="font-size: 12px;">Sie haben das Registrierungsformular ausgefüllt. Um die Registrierung abzuschließen, klicken Sie bitte auf folgenden Link:
    <p>


    <p style="font-size: 12px;"><a title="E-Mail-Adresse bestätigen" href="<%= backlinkUrl %>"><%= backlinkUrl %></a></p>

    <p style="font-size: 12px;">Falls Sie nicht automatisch weitergeleitet werden, kopieren Sie den Link bitte in die Adresszeile Ihres Browsers (z.B. Internet Explorer oder Firefox) und drücken Sie anschließend die Return-Taste. Die Übermittlung der Daten kann einige Minuten dauern. Danach ist Ihr Account freigeschaltet und Sie können sich mit Ihrem Benutzernamen und Ihrem Passwort im Login-Fenster auf der Startseite anmelden.</p>


    <p style="font-size: 12px;">Viel Spaß!</p>

    <p style="font-size: 11px;">P.S.: Diese E-Mail wurde automatisch generiert, deshalb werden Rückfragen nicht beantwortet. Wenn Sie kein Registrierungsformular ausgefüllt haben, ignorieren Sie dieses Schreiben einfach.</p>
</body>
</html>